.description__pic-wrapper {
  width: 580px;
  height: 335px;
  margin: 0 auto;
}

@media screen and (max-width: 640px) {
  .description__pic-wrapper {
    width: 90.6vw;
    height: 52.3vw;
  }
}

@media screen and (max-width: 425px) {
  .description__pic-wrapper {
    width: 100vw;
    height: 350px;
    margin-left: -20px;
  }
}
