.item__img-wrapper {
  width: 270px;
  height: 270px;
  transition: opacity 0.2s;
  cursor: pointer;
}

.item__img-wrapper:hover {
  opacity: 0.8;
}

@media screen and (max-width: 640px) {
  .item__img-wrapper {
    width: 42.2vw;
    height: 42.2vw;
  }
}

@media screen and (max-width: 480px) {
  .item__img-wrapper {
    width: 62.5vw;
    height: 62.5vw;
  }
}
