.description__button {
  width: 393px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  margin: 30px auto 0;
  background-color: #000;
  color: #fff;
  border: none;
  font-family: "HelveticaNeueCyr", sans-serif;
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  text-decoration: none;
}

@media screen and (max-width: 540px) {
  .description__button {
    font-size: 11px;
    letter-spacing: 0.13em;
  }
}

@media screen and (max-width: 440px) {
  .description__button {
    width: 100%;
  }
}
