.description__title {
  font-size: 45px;
  margin-top: 25px;
}

@media screen and (max-width: 540px) {
  .description__title {
    font-size: 30px;
    max-width: 250px;
  }
}

@media screen and (max-width: 425px) {
  .description__title {
    margin-top: 20px;
  }
}
