.description__title {
  font-weight: 400;
  font-size: 45px;
  line-height: 120%;
  text-align: center;
  margin: 25px auto 0;
}

@media screen and (max-width: 540px) {
  .description__title {
    font-size: 30px;
    line-height: 130%;
    max-width: 250px;
  }
}

@media screen and (max-width: 425px) {
  .description__title {
    margin-top: 20px;
  }
}
