.description__subtitle {
  max-width: 490px;
  margin-top: 15px;
}

@media screen and (max-width: 540px) {
  .description__subtitle {
    max-width: 390px;
  }
}

@media screen and (max-width: 425px) {
  .description__subtitle {
    margin-top: 10px;
  }
}

@media screen and (max-width: 380px) {
  .description__subtitle {
    max-width: 260px;
  }
}
