.item__buy-link {
  margin-top: 7px;
  font-size: 11px;
  line-height: 100%;
  letter-spacing: 0.13em;
  text-transform: uppercase;
  text-decoration: none;
  color: #000;
  display: flex;
  align-items: center;
  transition: color 0.2s;
}

.item__buy-link::after {
  content: url(../../../images/arrow.svg);
  margin-top: 2px;
  margin-left: 10px;
}

.item__buy-link:hover {
  color: #c6b09f;
}

@media screen and (max-width: 590px) {
  .item__buy-link {
    font-size: 10px;
  }
}

@media screen and (max-width: 480px) {
  .item__buy-link {
    display: none;
  }
}
